<!DOCTYPE html>
<h1>{{title}}</h1>

<agm-map
  [latitude]="lat"  [zoomControl]="true"
  [longitude]="lng" [zoom]="zoom"
  (mapClick)="mapClicked($event)">

	<agm-marker
    *ngFor="let m of markers"
    [latitude]="m.lat"  [iconUrl]="m.icon"
    [longitude]="m.lng" [label]="m.label">
	</agm-marker>

	<agm-data-layer [geoJson]="geoJsonObject" [style]="styleFunc"></agm-data-layer>

  <div *ngIf="circleVisibility()">

    <!--Aggiungi un cerchio alla mappa-->
    <agm-circle
      [latitude]="circleLat"   [longitude]="circleLng" [radius]="radius"
      [circleDraggable]="true" [editable]="true"       [fillColor]="'red'"
      (radiusChange)=circleRedim($event)
      (circleDblClick)=circleDoubleClicked($event)>
      <!-- Aggiungi la gestione dell'evento cambio raggio -->
      <!--Aggiungi la gestione dell'evento doppio click-->
    </agm-circle>

  </div>

</agm-map>

<form>

	<h3>Vettori energetici</h3>

	<div>
		<input name="title" #num>
		<!--Aggiunta una variabile di template-->
		<label for="title">Seleziona foglio</label>
	</div>

	<button (click)="cambia(num)"> <!--Passiamo le variabili come parametro -->
    Cambia
  </button> <br>

  <button (click)="mostraTutti()">
    Mostra tutte le zone catastali<br>(lasciate ogni speranza o voi che cliccate)
  </button> <br>

  <label for="sum">Seleziona in base alla somma</label>
  <input id="sum" type="radio" (click)="somma()" name="modes">
  <br>
  <label for="avg">Seleziona in base alla media</label>
  <input id="avg" type="radio" (click)="media()" name="modes" checked>

  <img *ngIf="isLoading()" src="https://i.pinimg.com/originals/50/d0/50/50d050588f1b25a377f1bed2ad8f0913.gif" height="225">

</form>
